@page "/admin"
@model Books_Project.Pages.Admin.IndexModel
@{
}

<!DOCTYPE html>
<html>
<head>
   
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" /> 
    <base href="/" />
</head>
<body>
    <component type="typeof(Books_Project.Pages.Admin.Routed)" render-mode="Server"/>
    <script src="/_framework/blazor.server.js"></script>
</body>
</html>